body {
	margin: 4px 0 5px 0;
	color: black;
	background: white;
	font-size: 12px;
	font-family: "Lucida Grande", Helvetica, sans-serif;
	line-height: 15px;
}

dt {
	float: left;
	clear: both;
	text-align: right;
	color: #7F7F7F;
	font-size: 0.8em;
	width: 80px;
	padding: 3px 0px 0px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
dt a { text-decoration: none; }

dd {
    margin-left: 90px;
    margin-right: 3em;
    padding-top: 3px;
}
dd a {
    color: blue;
    text-decoration: none;
}
dd a:hover {
    text-decoration: underline;
}
.time {
	margin-right: 1em;
	font-size: 0.8em;
	color: #aaa;
	position: absolute;
	right: 0;
}

dd.event, dd.action {
    font-size: 0.8em;
    padding-top: 6px;
}

dd.event, dd.event a, dd.action, dd.action a {
    color: #aaa;
}

.colorself, .colorself a {
    color: #A90101;
	font-weight: bold;    
}

.color0, .color0 a { color: #213240; }
.color1, .color1 a { color: #EC1559; }
.color2, .color2 a { color: #FAF93C; }
.color3, .color3 a { color: #561420; }
.color4, .color4 a { color: #821122; }
.color5, .color5 a { color: #333333; }
.color6, .color6 a { color: #D31D8C; }
.color7, .color7 a { color: #BCDD11; }
.color8, .color8 a { color: #005381; }
.color9, .color9 a { color: #0D813D; }
.color10, .color10 a { color: #F7A700; }
.color11, .color11 a { color: #3F3F30; }
.color12, .color12 a { color: #330000; }
.color13, .color13 a { color: #670000; }
.color14, .color14 a { color: #A31B00; }
.color15, .color15 a { color: #C24400; }
.color16, .color16 a { color: #DD6100; }
.color17, .color17 a { color: #4B4C3C; }
.color18, .color18 a { color: #57470C; }
.color19, .color19 a { color: #2B6088; }
.color20, .color20 a { color: #0A55A3; }
.color21, .color21 a { color: #006EBA; }
.color22, .color22 a { color: #8D1C0C; }
.color23, .color23 a { color: #FD1B15; }
.color24, .color24 a { color: #FF6D06; }
.color25, .color25 a { color: #3EA63B; }
.color26, .color26 a { color: #4F4F4F; }
.color27, .color27 a { color: #96D377; }
.color28, .color28 a { color: #7BF53D; }
.color29, .color29 a { color: #991D5E; }
.color30, .color30 a { color: #C42616; }
.color31, .color31 a { color: #5050C1; }
.color32, .color32 a { color: #5088C1; }
.color33, .color33 a { color: #561420; }
.color34, .color34 a { color: #821122; }
.color35, .color35 a { color: #333333; }
.color36, .color36 a { color: #EC1559; }
.color37, .color37 a { color: #213240; }
.color38, .color38 a { color: #193D55; }
.color39, .color39 a { color: #0D813D; }
.color40, .color40 a { color: #193D55; }
.color41, .color41 a { color: #C0000B; }
.color42, .color42 a { color: #FF6800; }
.color43, .color43 a { color: #662B2D; }
.color44, .color44 a { color: #B03C0D; }
.color45, .color45 a { color: #E7371A; }
.color46, .color46 a { color: #EAB239; }
.color47, .color47 a { color: #193D55; }
.color48, .color48 a { color: #4D7086; }
.color49, .color49 a { color: #2B877E; }
.color50, .color50 a { color: #8A8C81; }
.color51, .color51 a { color: #5F8183; }
.color52, .color52 a { color: #C6064F; }
.color53, .color53 a { color: #F93981; }
.color54, .color54 a { color: #E7C51B; }
.color55, .color55 a { color: #8173B1; }
.color56, .color56 a { color: #000014; }
.color57, .color57 a { color: #2A3B63; }
.color58, .color58 a { color: #717C8C; }
.color59, .color59 a { color: #F56203; }
.color60, .color60 a { color: #FF0000; }
.color61, .color61 a { color: #D24B00; }
.color62, .color62 a { color: #90620C; }
.color63, .color63 a { color: #225928; }
.color64, .color64 a { color: #3D367D; }
.color65, .color65 a { color: #5D236E; }
.color66, .color66 a { color: #D12C8B; }
.color67, .color67 a { color: #991441; }
.color68, .color68 a { color: #585858; }
.color69, .color69 a { color: #678090; }
.color70, .color70 a { color: #6F9DBE; }

.encoding { display: none; }         

.duplicateTimestamp { opacity: 0; }

.duplicateNick { opacity: 0.25; }

dt.highlight a:before { content: '★ '; font-weight: bold; float: left; }

dt.action a { display: none; }
.notice { color: #aaa; }
.ignore { display: none; }
